<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type' />
    <title>Yahoo! Distribution of Hadoop</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='Yahoo! Distribution of Hadoop' name='subject' />
  </head>
  <body>
    <div id='wrap'>
      <div id='content'>
        {{ content }}
      </div>
    </div>
  </body>
</html>
